<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Mi lista de preguntas</h3>

            <div *ngFor="let pregunta of preguntas" class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">{{pregunta.subject}} </div>   
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">{{pregunta.autor}} </div>    
                    </div>
                </div>     
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Nueva Pregunta</h3>
        <form class="mt-5" (ngSubmit)="create()">
            <div class="mb-3 form-floating">
                <input type="text" id="subject" placeholder="subject" name="subject" class="form-control" [(ngModel)]="pregunta.Subject">
                <label for="subject">Subject</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="autor" placeholder="autor" name="autor" class="form-control" [(ngModel)]="pregunta.Autor">
                <label for="subject">Autor</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="optionA" placeholder="optionA" name="optionA" class="form-control" [(ngModel)]="pregunta.OptionA">
                <label for="subject">OptionA</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="optionB" placeholder="optionB" name="optionB" class="form-control" [(ngModel)]="pregunta.OptionB">
                <label for="subject">OptionB</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="optionC" placeholder="optionC" name="optionC" class="form-control" [(ngModel)]="pregunta.OptionC">
                <label for="subject">OptionC</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="optionD" placeholder="optionD" name="optionD" class="form-control" [(ngModel)]="pregunta.OptionD">
                <label for="subject">OptionD</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="answer" placeholder="answer" name="answer" class="form-control" [(ngModel)]="pregunta.Answer">
                <label for="subject">Answer</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="sustentation" placeholder="sustentation" name="sustentation" class="form-control" [(ngModel)]="pregunta.Sustentation">
                <label for="subject">Sustentation</label>
            </div>
            <div class="text-end">
                <button class="btn btn-primary btn-lg">Guardar</button>
            </div>

        </form>
    </div>
</div>