<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="dashboard" class="navbar-brand">Periodo</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="" class="nav-link">Tus preguntas</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Tus examenes</a>
            </li>
        </ul>
    </div>
</nav>

<div
    *ngFor="let pregunta of preguntas; let indice = index"
    class="container mt-3"
    style="width: 70%"
>
    <div class="card">
        <div class="card-header">{{pregunta.subject}}</div>
        <div class="card-body">
            <h5 class="card-title">{{pregunta.statement}}</h5>
            <p class="card-text">
                {{ pregunta.autor }}
            </p>
            <p class="card-text">
                {{ pregunta.optionA }}
            </p>
            <p class="card-text">
                {{ pregunta.optionB }}
            </p>
            <p class="card-text">
                {{ pregunta.optionC }}
            </p>
            <p class="card-text">
                {{ pregunta.optionD }}
            </p>
            <p class="card-text">
                {{ pregunta.answer }}
            </p>

            <a
                href="#"
                [routerLink]="['/actualizaPregunta', indice]"
                class="btn btn-primary"
                >Editar</a
            >
            <a href="#" class="btn btn-danger m-2">Eliminar</a>
        </div>
    </div>
</div>
<a
    href=""
    class="btn btn-primary"
    [routerLink]="['/nuevaPregunta']"
    >Crear pregunta</a
>
